.navbar_light .navbar_brand {
    color: #2b9f45;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.navbar_opt > *{
    margin-right: 1rem;
}
.navbar_opt > a{
    text-decoration: none !important;
    /* color: aliceblue; */
}
.navbar_opt > a:active{
    color: aquamarine;
}
.bg_light {
    background-color:rgb(7 39 72 / 93%);
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.navbar_right{
    margin-inline: 20px;
}
  