

.Home {
    width: auto;
    /* height: 500px; */
    height: 100%;
   
}

.input {
    display: flex;
    justify-content: center;
    color: black;
}

.head {
  font-size: 32px;
}
.footer{
    height: 30%;
    background-color: #040404e3;
}
